/*
 theme:exam 1

theme coder:mohamed shalaby

theme desinger:route accadmey */
 
.btnhere:hover{
    background-color: #00c3da;
}


html{
    font-size: 1rem;

   
}
img{
    width: 100%;
   
}

/* this is start slider */
.carousel slide{
    height: 100vh;
}
.carousel-control-next{
 left:0;
 top:10%;


}
 
.carousel-caption{
   
   top:200px;

 
}
 
  
 .carousel-caption h5{
    font-size: 100px;
  
    animation-name:corselheading;
    animation-iteration-count: 1;
    animation-duration:10s;
    
    

} 
 .carousel-caption p{
    
 font-weight: 400;
 font-size: 18px;
 animation-name:corselparagraph;
 animation-iteration-count: 1;
 animation-duration: 15s;

 
  
 }
 .carousel-caption button{
   
    animation-name:corselbuttons;
    animation-iteration-count: 1;
    animation-duration: 15s;
 
    }

  @keyframes corselheading{
    0%{opacity: 0;};
100%{opacity: 1;};

  }
   
  @keyframes corselparagraph{
    0%{opacity: 0;};
100%{opacity: 1;};

  }
  @keyframes corselbuttons{
    0%{opacity: 0};
100%{opacity: 1;};

  }
  .g{
      position: relative;
  }

.test10{
    background-color: transparent;
}

.test10 i{
    color:white;
}


/* this is end slider */


/* this is start navbar */
#navbar_home{
    position: fixed;
    top:0;
    width: 100%;
   
   
    border-bottom: 1px white solid;
     background-color: transparent;
    z-index: 99999;
}
#navbar_home img{
    max-height: 40px;
} 


#navbar_home ul li a{
   color:white;
    font-size: 1.2rem;

}
.social_media a{
    margin: 10px;
}
.border_navbar{
    position: relative;
}
.border_navbar::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 62;
    top: 0;
    right: 40;
    background-color: white;
}


/* this is end navbar */
 /*comment*/
/* about start */

.about p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #787878;
}

#replace_word{
    color:#00c3da !important;
  
}

#replace_word{
  
  
    animation-name: move2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
}
@keyframes move2{
    0%{
       
        color:#00c3da ;  
  }
100%{
    width: 0%; color: #f7f7f7;
  }

}
 
 #replace_word::after{
    content: "websites";
    
   
    width:100px;
    height:30px;
   
     position: absolute;
     left:50%;
     top:30%;
    
   
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
  
   
    
 } 

  @keyframes move{
    0%{
          width: 0%; color: #f7f7f7;
    }
  100%{
        color:#00c3da ; width: 100%; left: 0%;
    }
 } 






/* about end */

/* start about part2 */
 /*comment*/
.about_2 .about2_image  img{
   width: 100%;
   height: 100%;
   
}

.link_dessign a{
  
    margin-left: 50px;
    color:black;
}
/*end about part2 */

/* creative team start */

.team_img{
    position: relative;
    overflow: hidden;
}
.team_img .team_caption{
    background-color: rgba(0, 195, 218, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 30%;
    overflow: auto;
    color: aliceblue;
  opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}
.team_img .team_caption li{
    list-style: none;
    float: left;
    margin: 15px;;
}

.team_img .team_caption .clr{
    
clear: both;
} 
.team_img .team_caption h4{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 70%;
}

.team_img .team_caption p{
    text-align: left;
    font-size: 12px;
}
.team_img:hover .team_caption{
    top:0;
    opacity: 1;

}
/* creative team end */



/* start the team inf */

.team_inf{
    background-image: url('../images/images/asset 48.jpeg');
    background-size: 100% 100%;
   height: 100vh;
   position: relative;
 
}
.team_inf .overlay{
  
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #1f1f1f;
        opacity: .7;
    
}

.team_inf .overlay .container p{
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
}

.team_inf .overlay .container  i{
    font-size: 1.5rem;
    color:white;
}
.team_inf .overlay .container .team_inf2 h1{
    text-transform: uppercase;
    color: white;
    margin: 50px;
}

.team_inf .overlay .container .team_inf2 test5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_inf .overlay .container .team_inf2 li{
    text-transform: capitalize;
    color: white;
    
    list-style: none;
    align-items: center;
}
.team_inf .overlay .container .team_inf2 li::before{
    font-family: 'hody-icons';
    content: "\e045";
    vertical-align: middle;
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
}
 
.row .inf2desing {
    display: flex;
 justify-content: center;
    align-items: flex-end;
}
/* end the team inf */


/* start our work hs-yazal part */
.nav-tabs{
    border-bottom: none;
    
}
.nav-tabs a{
    color: #000;
}
.nav-tabs .nav-link {
    
    border: none;
    margin: 0 10px;
    transition: all .7s;
}
.nav-item .nav-link.active{
    color: #fff;
    background-color: #e65f78;
    border-radius: 40px;
 
}
.nav-tabs .nav-item .nav-link:hover {
    color: #fff;
    background-color: #e65f78;
    border-radius: 40px;
}

.project .sub-project{
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project .layer2{
    border-radius: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    transition: all .3s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.project:hover .layer2{
    top: 0;
    
}
.project img{
    transition: all .3s;
}
.project:hover img{
    transform: scale(1.2);

}

/* end our work */

/* start the price  */
.price{
    position: relative;
    text-align: center;
    
}
.price .price_bg {
    position: absolute;
    left: 0;
    top: 0;
   width: 100%;
   background-color: #f7f7f7;
    
}
.card-body{
    text-align: start;
}

#my_active{
    color: #00c3da;
}
.best_value{
    position: relative;

}
 .best_value h2{
    position: absolute;
    top: 50px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 14px;
}


.no .yes{
    width: 500px;
    height: 500px;
    background-color: black;
    visibility: visible;
}


/*    section on get  in touch*/

#contact  {
    margin-top:100px
}

#contact  .contact-info h2 {
    font-size:38px;
    font-weight: 700;
    color:#282828;
    text-transform: uppercase;
}


#contact  .contact-info p {
    font-size: 18px;
    color: #999;
}


#contact .address .icon i {
    margin-top:9px;
    font-size:35px;
    color:#f25454;
    
    
}

#contact .address .content {
    padding-left:10px
}

#contact .address .content h4 {
    font-size:18px;
    color:#282828
}



#contact .address .content p {
    color:#666;
    font-size:14px
}

#contact .address  form input {
    height:50px;
    margin-bottom:20px
}


#contact .address  form textarea {
    height:100px;
    margin-bottom:20px

}

#contact .address  form button {
    color:#fff;
    background-color:#f25454 ;
    padding:12px 39px;
    font-size:14px;
    font-weight: 700;
}





